.box {
    position: relative;
    border: 1px solid red;
    width: 200px;
    height: 200px;
    background-color: tan;

    &:not(:last-child) {
        margin-right: 2px;
        margin-bottom: 2px;
    }

    &:hover {
        opacity: 0.5;
    }

    &.circle::after {
        content: '';
        width: 60%;
        height: 60%;
        border: 3px solid green;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border-radius: 50%;
    }

    &.cross {
        &::before,
        &::after {
            content: '';
            top: 42%;
            width: 60%;
            height: 60%;
            position: absolute;
            border-left: 3px solid green;
        }

        &::before {
            left: 42%;
            transform: rotate(45deg);
        }

        &::after {
            left: 0;
            transform: rotate(135deg);
        }
    }
}
